.container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 32px 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.coIds {
  display: flex;
  column-gap: 8px;
  width: 100%;
}

.coId {
  list-style: none;
}

.coButton {
  padding: 0 4px;
}

.actionButton {
  width: 100px;
}

.imageCards {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.diffVisualizer {
  display: flex;
  justify-content: center;
}
