.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 480px;
  height: 300px;
}

.image {
  width: 100px;
  height: 100px;
  animation-name: loading;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes loading {
  0% {
    transform: rotateZ(0deg);
  }
  90%,
  100% {
    transform: rotateZ(360deg);
  }
}
